<!-- start custom footer snippets -->

<!-- cookieconsent -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script async src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script async>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1976d2",
      "text": "#ffffff"
    },
    "button": {
      "background": "#ffffff",
      "text": "#1976d2"
    }
  },
  "theme": "classic",
  "position": "top",
  "static": true
})});
</script>

<!-- sumo -->
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='abc6ef87a127a3b900ed5ff22930086bf18307d2efb8abb2c1c8d47aea8aa0c7';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>

<!-- end custom footer snippets -->
