---
title: "CodeNotFound.com"
layout: splash
date: 2016-01-01T21:00:00-01:00
header:
  overlay_color: "#000"
  overlay_filter: "0.0"
  overlay_image: /assets/images/splash.jpg
  cta_label: "Latest Blog Posts"
  cta_url: "/blog/"
excerpt: "<q>Talk is cheap. Show me the code.</q> &#8211;Linus Torvalds"
intro: 
  - excerpt: 'Get notified when I add new stuff &nbsp; [<i class="fa fa-twitter"></i> @CodeNotFoundcom](https://twitter.com/CodeNotFoundcom){: .btn .btn--twitter}'
feature_row:
  - image_path: assets/images/spring-ws.jpg
    alt: "spring-ws"
    title: "Spring Web Services"
    excerpt: ""
    url: "/spring-ws/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/spring-kafka.jpg
    alt: "spring-kafka"
    title: "Spring Kafka"
    excerpt: ""
    url: "/spring-kafka/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/jms.jpg
    alt: "jms"
    title: "Java Message Service"
    excerpt: ""
    url: "/jms/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
