---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/*
   codenotfound
   ========================================================================== */
/*layout*/
.custom-sidebar {
  margin-top: 40px;
}
.custom-post-header {
  margin-bottom: -20px;
}
.custom-post-footer {
  margin-top: 30px;
}
ins.adsbygoogle {
  border-bottom: none !important;
}
/*splash*/
.greedy-nav .visible-links a::before {
  background: #087f23 !important;
}
.page__hero--overlay .btn:hover {
  background-color: #087f23 !important;
}
.feature__item .btn {
  background-color: #4caf50 !important;
}
.feature__item .btn:hover {
  background-color: #087f23 !important;
}
/*post*/
h1 {
  margin-top: 60px;
}
a {
  color: #4caf50;
}
p code {
  background-color: #F7F7F9;
  border-color: #E1E1E8;
  border-style: solid;
  border-width: 1px;
  color: #D14;
}
p var, li var {
  @extend code;
  color: #494E52;
  font-style: normal;
}
kbd {
  color: #ff6700;
}
div .highlighter-rouge {
  margin-bottom: 30px;
  margin-top: -20px;
}
code span {
  line-height: 0.4;
}
blockquote {
  border-left-color: #4caf50;
}
.notice--primary {
  color: #fff;
  background-color: #4caf50;
  font-size: 1em !important;
}
.notice--primary a:link, .notice--primary a:visited, .notice--primary a:hover, .notice--primary a:active {
  color: #fff;
  text-decoration: underline
}
.notice--info {
  color: #fff;
  background-color: #4caf50;
  min-height: 80px;
}
.notice--info p {
  font-size: 1.2em;
}
.notice--info a:link, .notice--info a:visited, .notice--info a:hover, .notice--info a:active {
  color: #fff;
  text-decoration: underline
}
nav.pagination a.pagination--pager {
  color: #4caf50;
}
nav.pagination a.pagination--pager:hover, nav.pagination a.pagination--pager:active {
  text-decoration: underline
}
/*other*/
figure img.logo {
  margin-bottom: -20px;
}
