/* ==========================================================================
   CodeNotFound skin
   ========================================================================== */

/* Colors */
$green : #00b294 !default;
$dark-green : #006c5a !default;
$red : #ffa200 !default;
$orange : #f6001d !default;

$primary-color : $green !default;
$footer-background-color : $green !default;

$text-color : #444 !default;
$link-color : $dark-green !default;
$link-color-hover : $dark-green !default;
$link-color-visited : $dark-green !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$muted-text-color: $text-color !default;
$border-color: mix(#fff, $text-color, 75%) !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .fa {
  color: inherit;
}

/* Layout */
.custom-sidebar {
  margin-top: 40px;
}
.custom-post-header {
  margin-bottom: -20px;
}
.custom-post-footer {
  margin-top: 30px;
}
ins.adsbygoogle {
  border-bottom: none !important;
}

/* Post */
h1 {
  margin-top: 60px;
}
figure img.logo {
  margin-bottom: -20px;
}
p code {
  background-color: #F7F7F9;
  border-color: #E1E1E8;
  border-style: solid;
  border-width: 1px;
  color: #D14;
}
kbd {
  color: #ff6700;
}
.notice--primary {
  color: #fff;
  background-color: #4caf50;
  font-size: 1em !important;
}
.notice--primary a:link, .notice--primary a:visited, .notice--primary a:hover, .notice--primary a:active {
  color: #fff;
  text-decoration: underline
}

