/* ==========================================================================
   CodeNotFound skin
   ========================================================================== */

/* Colors */
$blue: #2196F3 !default;
$dark-blue: #1976D2 !default;
$orange: #FF5722 !default;
$red : #f6001d !default;
$warning-color: #FF5722 !default;
$text-black: #333333 !default;
$text-grey: #757575 !default;
$text-white: #FFFFFF !default;
$text-light-blue: #77BEF5 !default;
$background-white: #FFFFFF !default;
$divider-grey: #BDBDBD !default;


/* General */
$background-color: $background-white !default;

/* Layout */
.header-ads {
  margin-top: 20px;
  margin-bottom: 40px;
}
ins.adsbygoogle {
  border-bottom: none !important;
}

/* Masthead */
.masthead__inner-wrap {
  padding-bottom: 0.5em !important;
  padding-top: 0.5em !important;
}
.masthead, .greedy-nav {
  background: $blue !important;
}

$masthead-link-color: $text-white !default;
$masthead-link-color-hover: $text-white !default;

.greedy-nav .visible-links a:before {
  background-color: transparent !important;
}
.search__toggle, .greedy-nav__toggle {
  color: $text-white !important;
}
.greedy-nav__toggle {
  background-color: $blue !important;
}
.greedy-nav .hidden-links {
  background-color: $blue !important;
}
.greedy-nav .hidden-links a:hover {
  background-color: $blue !important;
}

/* Footer */
$footer-background-color: $blue !default;

.page__footer-follow {
  color: $text-white;
}
.page__footer-copyright {
  color: $text-light-blue;
}

/* Body */
$text-color: $text-black !default;
$link-color: $dark-blue !default;
$link-color-hover: $dark-blue !default;
$link-color-visited: $dark-blue !default;

.archive__subtitle {
  border-bottom-color: $divider-grey;
}

/* Welcome */
.page__hero--overlay .page__title, .page__hero--overlay .page__lead, .page__hero--overlay .btn {
  text-shadow: none !important;
}

/* Post */
.page__title {
  color: #222222;
  font-size: 1.8em !important;
  margin-top: 20px !important;
}
.page__meta {
  color: $text-grey !important;
}
.title-image {
  margin-top: 30px;
  margin-bottom: 30px;
}
h2 {
  color: #222222;
}
p code {
  background-color: #F7F7F9;
  border-color: #E1E1E8;
  border-style: solid;
  border-width: 1px;
  color: #D14;
}
p var, li var {
  @extend code;
  color: #494E52;
  font-style: normal;
}
kbd {
  color: $orange;
}
blockquote {
  border-left-color: $blue !important;
}
.page__content {
  .notice--primary {
    color: #fff;
    background-color: $blue;
    font-size: 1em !important;
  }
  .notice--primary a:link, .notice--primary a:visited, .notice--primary a:hover, .notice--primary a:active {
    color: #fff;
    text-decoration: underline
  }
  .notice--info {
    color: #fff;
    background-color: $blue;
    min-height: 80px;
  }
  .notice--info p {
    font-size: 1.2em;
  }
  .notice--info a:link, .notice--info a:visited, .notice--info a:hover, .notice--info a:active {
    color: #fff;
    text-decoration: underline
  }


}
/* TODO */
nav.pagination a.pagination--pager:hover, nav.pagination a.pagination--pager:active {
  text-decoration: underline
}
div .highlighter-rouge {
  margin-bottom: 40px !important;
  margin-top: -20px;
}
.page__content table {
  margin-bottom: 40px;
}

/* Archives */
.archive__item-title a {
  color: $text-black !important;
}
.archive__subtitle {
  color: $text-grey;
}

/* TODO */
/*splash*/
.feature__item .btn {
  color: #fff;
  background-color: $blue !important;
}
.feature__item .btn:hover {
  background-color: $dark-blue !important;
  text-decoration: underline
}
