/* ==========================================================================
   CodeNotFound skin
   ========================================================================== */

/* Colors */
$green                       : #00b294 !default;
$red                         : #ffa200 !default;
$orange                      : #f6001d !default;

$primary-color: $green !default;
$footer-background-color: $green !default;

$text-color: #333 !default;
$link-color: #green !default;




$muted-text-color: $text-color !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .fa {
  color: inherit;
}
