/* ==========================================================================
   CodeNotFound skin
   ========================================================================== */

/* Colors */
$green : #00b294 !default;
$dark-green : #008a73 !default;
$red : #f6001d !default;
$orange : #ffa200 !default;

$primary-color : $green !default;
$footer-background-color : $green !default;

$text-color : #444 !default;
$link-color : $dark-green !default;
$link-color-hover : $dark-green !default;
$link-color-visited : $dark-green !default;

$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

$muted-text-color: $text-color !default;
$border-color: mix(#fff, $text-color, 75%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .fa {
  color: inherit;
}

/* Layout */
.custom-sidebar {
  margin-top: 40px;
}
.custom-post-header {
  margin-bottom: -20px;
}
.custom-post-footer {
  margin-top: 30px;
}
ins.adsbygoogle {
  border-bottom: none !important;
}

/* Sidebar */
.sidebar .author__urls a {
  font-size: 1.2em;
}

/* Post */
.page__content h1 {
  margin-top: 60px;
}
figure img.logo {
  margin-bottom: -20px;
}
p code {
  background-color: #F7F7F9;
  border-color: #E1E1E8;
  border-style: solid;
  border-width: 1px;
  color: #D14;
}
p var, li var {
  @extend code;
  color: #494E52;
  font-style: normal;
}
kbd {
  color: $orange;
}
.page__content {
  .notice--primary {
    color: #fff;
    background-color: $green;
    font-size: 1em !important;
  }
  .notice--primary a:link, .notice--primary a:visited, .notice--primary a:hover, .notice--primary a:active {
    color: #fff;
    text-decoration: underline
  }
  .notice--info {
    color: #fff;
    background-color: $green;
    min-height: 80px;
  }
  .notice--info p {
    font-size: 1.2em;
  }
  .notice--info a:link, .notice--info a:visited, .notice--info a:hover, .notice--info a:active {
    color: #fff;
    text-decoration: underline
  }
}
nav.pagination a.pagination--pager:hover, nav.pagination a.pagination--pager:active {
  text-decoration: underline
}
